.Title {
    margin-top: 60px;
  }
  
  .PresentationalList{
    display: inline-flex;
    justify-content: center;
    text-align: -webkit-center;
    padding-left:3px;
    padding-right:3px;
  }
  
  ul{
    list-style:none;
  }
  
  .li {
      width: 25%;
      
  }
  
  .li.li::marker {
    visibility: hidden;
  }
  
  .textFilter {
    text-align: -webkit-right;
    margin-right: 2%;
  }
  
  .CardPresentacionDer {
    margin-bottom: 2%;
    margin-right: 1%;
    width: 48%;
    text-align: -webkit-right;
  }
  
  .content {
    text-align-last: center;
  }
  
  /* @media screen and (max-width: 992px) {
    .content {
      display: none;
    }
  } */
  
  .CardPresentacionIzq {
    margin-bottom: 2%;
    width: 48%;
    text-align: -webkit-left;
  }
  
  .ui.card:last-child {
    margin-bottom: 0;
    width: 90%;
  }
  
  /* .ui.card, .ui.cards>.card {
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100%;
    min-height: 0;
    background: #fff;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    transition: box-shadow .1s ease,transform .1s ease;
    z-index: '';
  } */
  
  .ui.secondary.pointing.menu {
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 2px solid rgba(34,36,38,.15);
  }
  
  .Footer {
    position: fixed;
  }
  
  .image {
    width: 100%;
    display: inline-block;  
  }
  
  .textoImagen {
    position: absolute;
    top: 70%;
    left: 5%;
    /* transform: translate(-50%, -50%); */
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    color: #fff;
    background: #06285c;
    box-sizing: border-box;
    transition: background 0.1s ease 0s, color;
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: inline-flex;
    padding: 0px 16px;
    outline: none;
    border-radius: 4px;
  }