

.render.ListOwnerShip > .titleRow{
    display: grid;
    grid-template-areas: 'one two' 'three three';
    margin-top: 25px !important;
}

.titleRow > title {
    grid-area: one;
    text-align:"left";
    padding:15px;
}

.titleRow > .filterComponent {
    grid-area: two;
}

.inline.fields > .panelFilter{
    grid-area: three;
    margin: 0% 0% 1% 8.5%;
    width:83%;

}

.tarjetaProp {
    padding-left: 15px;
    padding-bottom: 15px ;
    padding-right: 15px;
    min-width: 540;
    min-height: 340;
    text-align: -webkit-center;
}





