.ownership > .ui.card.ownership:last-child {
    width: 100%;
}

@supports(object-fit: cover){
    .columnaImagen > .image{
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center;
      justify-content: center;
    }
}

.columnaContenido{
    height: 200px;
}

.columnaContenido > .contenido{
    position: relative;
}

.columnaContenido > .contenido > .titulo{
    position: relative;
    display: inline-flex;
    width: 100%;
}

.columnaContenido> .contenido >.titulo > .content-titulo{
    position: relative;
    padding:0px;
    margin:0px;
    text-align: left;
}
.columnaContenido >.contenido > .titulo >.tag{
    position: absolute;
    right: 0px;
    transform: translateY(7px);
}
/* .metadatos{
    position:absolute;
    bottom: 20px;
    display: flex;
}

.columnaContenido > .contenido > .descripcion{
    text-align-last: left;
}
.date{
    position:absolute;
    bottom: 0px;
    right: 0px;
    color: grey;
}






.row{
    height: 200px;
    min-width: 450px;
    min-height: 280px;
}
.colum{
    max-height: 250px;
    min-width: 225px;
    min-height: 255px;
} */
/* .columnaContenido{
    text-align: left;
} */

@media screen and (min-width: 600px){

}

@media screen and (min-width: 768px){
    
}